<table class="table">
  <thead>
    <tr>
      <td *ngFor="let form of forms">{{ form.label }}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let applicant of applicants$ | async">
      <td *ngFor="let form of forms">
        <ng-container *ngIf="form.name === 'birthday'; else normal">
          {{ applicant[form.name] | dateString }}
        </ng-container>
        <ng-template #normal>
          {{ applicant[form.name] }}
        </ng-template>
      </td>
      <td>
        <a routerLink="/detail/{{ applicant.id }}">詳細</a>
      </td>
    </tr>
  </tbody>
</table>
