<div class="d-flex flex-row-reverse" *ngIf="isAdmin">
  <a routerLink="/admin">一覧へ</a>
</div>
<!-- <div class="mb-3">
  <label class="form-label">画像</label>
  <input type="file" class="form-control" />
</div>
<div class="mb-3">
  <label class="form-label">ふりがな</label>
  <input type="text" [(ngModel)]="applicant.kana" class="form-control" />
</div> -->
<div class="mb-3">
  <label class="form-label">名前</label>
  <input type="text" [(ngModel)]="applicant.name" class="form-control" />
</div>
<!-- <div class="mb-3">
  <label class="form-label">生年月日</label>
  <input type="date" [(ngModel)]="applicant.birthday" class="form-control" />
</div>
<div class="mb-3">
  <label class="form-label">電話番号</label>
  <input type="text" [(ngModel)]="applicant.tel" class="form-control" />
</div> -->
<button
  (click)="addApplicant(applicant); applicant.name = ''"
  type="button"
  class="btn btn-outline-info"
>
  送信
</button>
