<table class="table table-bordered" [formGroup]="formGroup">
  <thead>
    <tr class="text-center">
      <th>No</th>
      <th>Label</th>
      <th>Name</th>
      <th>On/Off</th>
    </tr>
  </thead>
  <tbody formArrayName="rows">
    <tr
      *ngFor="let control of rowsControls; let i = index"
      [formGroup]="control"
    >
      <td class="align-middle text-center">{{ i + 1 }}</td>
      <td><input formControlName="label" class="form-control" /></td>
      <td><input formControlName="name" class="form-control" /></td>
      <td class="align-middle text-center">
        <div class="form-check form-switch d-flex justify-content-center">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckChecked"
            formControlName="isValid"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn" (click)="addForm()">＋</button>

<div
  *ngIf="isUpdated"
  class="alert position-fixed bottom-0 end-0 text-primary"
  role="alert"
>
  <p class="px-5">変更しました!</p>
</div>
