<form>
  <ng-container *ngFor="let form of forms">
    <div class="mb-3">
      <label class="form-label">{{ form.label }}</label>
      <input
        (change)="onChangeInput($event, form.name)"
        type="text"
        class="form-control"
      />
    </div>
  </ng-container>
  <div class="mb-3">
    <label class="form-label">画像・動画</label>
    <div *ngFor="let n of [0, 1, 2, 3]" class="d-flex gap-2">
      <input
        type="file"
        multiple
        (change)="onChangeFile($event, n)"
        class="form-control mb-3"
      />
      <button
        *ngIf="uploadFiles[n].fileName"
        (click)="onClickFileClear($event, n)"
        class="btn btn-close"
      ></button>
    </div>
  </div>
  <button
    (click)="addApplicant()"
    type="button"
    class="btn btn-outline-secondary mt-3"
  >
    送信
  </button>
</form>
