<form>
  <ng-container *ngFor="let form of forms">
    <div class="mb-3">
      <label class="form-label">{{ form.label }}</label>
      <input
        (change)="onChangeInput(form.name, $event)"
        type="text"
        class="form-control"
      />
    </div>
  </ng-container>
  <div class="mb-3">
    <label class="form-label">画像・動画</label>
    <div *ngFor="let n of [1, 2, 3, 4]">
      <input
        type="file"
        multiple
        (change)="onChangeFile($event, n)"
        class="form-control mb-3"
      />
    </div>
  </div>
  <button
    (click)="addApplicant(); clearInput()"
    type="button"
    class="btn btn-outline-info mt-3"
  >
    送信
  </button>
</form>
