<ng-container *ngIf="applicant$ | async as applicant">
  <div *ngFor="let form of forms" class="mb-3">
    <label class="form-label">{{ form.label }}</label>
    <input
      type="text"
      [(ngModel)]="applicant[form.name]"
      class="form-control"
    />
  </div>
  <div class="files-wrap">
    <div *ngFor="let file of files">
      <ng-container *ngIf="file.type === 'image'; else video">
        <img [src]="file.url" alt="file.name" class="img-thumbnail" />
      </ng-container>
      <ng-template #video>
        <video [src]="file.url" controls class="img-thumbnail"></video>
      </ng-template>
    </div>
  </div>
  <div class="d-flex gap-3 pt-3">
    <button routerLink="/admin" class="btn btn-outline-secondary">戻る</button>
    <button
      (click)="updateApplicant(applicant)"
      type="button"
      class="btn btn-outline-secondary"
    >
      更新
    </button>
    <button (click)="deleteApplicant()" class="btn btn-outline-danger ms-auto">
      削除
    </button>
  </div>
</ng-container>

<!-- Alert -->
<div *ngIf="isUpdated" class="alert alert-info" role="alert">更新しました!</div>
